.container{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  background-color: slategray;
  padding: 3%;
}
.form{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 2%;
}